body {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  background-image: url(clouds-snow.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  margin: 0;
  height: 100vh;
  padding-top: 30px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container {
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start;
  align-items: center; /* Center items horizontally */
  height: 100vh; /* Full height of the viewport */

/* .weather-report {
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.weather-report div {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 15px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s;
}

.weather-report div:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 2rem;
  margin: 5px 0;
  color: #2980b9;
}

p {
  margin: 5px 0;
  font-size: 1.5rem;
}